TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
TELEGRAM_ADMIN_ID=YOUR_ADMIN_ID
# Token utilizado por advertising_cron.py (obligatorio)
# Puedes definir múltiples tokens separados por comas
TELEGRAM_TOKEN=YOUR_ADVERTISING_TOKEN
